<table>
  <tr><td>
    <h3>Vainqueur du classement général:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @race_leader_old, :order => "desc", :table_id => "race_leader_old" %>
  </td></tr>
  <tr><td>
    <h3>Vainqueur du classement à points:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @race_sprinter_old, :order => "desc", :table_id => "race_sprinter_old" %>
  </td></tr>
  <tr><td>
    <h3>Vainqueur du classement de la montagne:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @race_climber_old, :order => "desc", :table_id => "race_climber_old" %>
  </td></tr>
  <tr><td>
    <h3>Vainqueur du classement des jeunes:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @race_young_old, :order => "desc", :table_id => "race_young_old" %>
  </td></tr>
  <tr><td>
    <h3>Vainqueur d'étape:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @stage_winner_old, :order => "desc", :table_id => "stage_winner_old" %>
  </td></tr>
  <tr><td>
    <h3>Leader du classement général:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @stage_leader_old, :order => "desc", :table_id => "stage_leader_old" %>
  </td></tr>
  <tr><td>
    <h3>Leader du classement à points:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @stage_sprinter_old, :order => "desc", :table_id => "stage_sprinter_old" %>
  </td></tr>
  <tr><td>
    <h3>Leader du classement de la montagne:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @stage_climber_old, :order => "desc", :table_id => "stage_climber_old" %>
  </td></tr>
  <tr><td>
    <h3>Leader du classement des jeunes:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @stage_young_old, :order => "desc", :table_id => "stage_young_old" %>
  </td></tr>
</table>
