<table>
  <tr><td>
    <h3>Vainqueur du classement général:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @race_leader_young, :order => "asc", :table_id => "race_leader_young" %>
  </td></tr>
  <tr><td>
    <h3>Vainqueur du classement à points:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @race_sprinter_young, :order => "asc", :table_id => "race_sprinter_young" %>
  </td></tr>
  <tr><td>
    <h3>Vainqueur du classement de la montagne:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @race_climber_young, :order => "asc", :table_id => "race_climber_young" %>
  </td></tr>
  <tr><td>
    <h3>Vainqueur du classeement des jeunes:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @race_young_young, :order => "asc", :table_id => "race_young_young" %>
  </td></tr>
  <tr><td>
    <h3>Vainqueur d'étape:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @stage_winner_young, :order => "asc", :table_id => "stage_winner_young" %>
  </td></tr>
  <tr><td>
    <h3>Leader du classement général:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @stage_leader_young, :order => "asc", :table_id => "stage_leader_young" %>
  </td></tr>
  <tr><td>
    <h3>Leader du classement à points:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @stage_sprinter_young, :order => "asc", :table_id => "stage_sprinter_young" %>
  </td></tr>
  <tr><td>
    <h3>Leader du classement de la montagne:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @stage_climber_young, :order => "asc", :table_id => "stage_climber_young" %>
  </td></tr>
  <tr><td>
    <h3>Leader du classeement des jeunes:</h3>
  </td></tr>
  <tr><td>
    <%= render "age_display",  :res => @stage_young_young, :order => "asc", :table_id => "stage_young_young" %>
  </td></tr>
</table>






