<table>
  <tr>
    <td><b>Nom de l'équipe:</b></td>
    <td><%= @team.name %></td>
  </tr>
  <tr>
    <td><b>code UCI:</b></td>
    <td><%= @team.name %></td>
  </tr>
  <tr>
    <td><b>Participation:</b></td>
    <td>
      <ul>
      <% @race_teams.each do |rt| %>
            <li>
          <%= link_to "#{rt.year}", race_path(rt.race) %>
          (<%= link_to "#{rt.label}", race_team_path(rt) %>)
            </li>
      <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td><b>Coureurs:</b></td>
    <td><ul>
      <% @cyclists.each do |c| %>
          <li>
            <%= link_to "#{c.firstname} #{c.lastname}", cyclist_path(c) %>
          </li>
      <% end %>
    </ul>
    </td>
  </tr>
</table>
