<script>
    $(document).ready(function() {
        $('#teams').dataTable( {
            "sDom": "<fptp>",
            "bJQueryUI": true,
            "iDisplayLength": 50,
            "aaSorting": [[ 2, "desc" ]],
            "aoColumns" : [
                {"bSortable": true, "bSearchable": true},
                {"bSortable": true, "bSearchable": true},
                {"bSortable": true, "bSearchable": true},
                {"bSortable": true , "bSearchable": true},
                {"bSortable": true , "bSearchable": true},
                {"bSortable": true , "bSearchable": true},
                {"bSortable": true , "bSearchable": true},
                {"bSortable": true , "bSearchable": true},
                {"bSortable": true , "bSearchable": true},
                {"bSortable": true, "bSearchable": true} ]
        });
    } );
</script>
<table class="display" id="teams">
  <thead>
  <tr>
    <th>UCI</th>
    <th>Nom</th>
    <th>Coureurs</th>
    <th>Part.</th>
    <th>Vict. d'étape</th>
    <th><img src="/assets/maillot_jaune_20.png"/><small>(jours)</small></th>
    <th><img src="/assets/maillot_vert_20.png"/><small>(jours)</small></th>
    <th><img src="/assets/maillot_pois_20.png"/><small>(jours)</small></th>
    <th>1ère édition</th>
    <th>Dern. édition</th>
  </tr>
  </thead>

  <tbody>
  <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.uci, team %></td>
        <td><%= link_to team.name, team %></td>
        <td><%= link_to team.cyclists.count('distinct cyclists.id'), cyclists_path(:team => team.name)%></td>
        <td><%= team.races.size() %></td>
        <td><%= team.stage_victories.size() %></td>
        <td><%= team.stage_yellow_jersey.size() %></td>
        <td><%= team.stage_sprinter_jersey.size() %></td>
        <td><%= team.stage_climber_jersey.size() %></td>
        <td><%= min = team.races.order(year: :asc).first; if (min != nil) then link_to min.year, race_path(min) end %></td>
        <td><%= max = team.races.order(year: :desc).first; if (max != nil) then link_to max.year, race_path(max) end %></td>
      </tr>
  <% end %>
  </tbody>
</table>