<b><%= @team.name %></b><br><%= @team.uci %>
<table  width="1000">
  <tr width="100%">
    <td width="100%">
      <div id="tabs" width="100%">
        <ul>
          <li><a href="#tabs-1">Infos</a></li>
          <li><a href="#tabs-2">Participations</a></li>
          <li><a href="#tabs-3">Palmarès</a></li>
          <li><a href="#tabs-4">Cyclistes</a></li>
          <li><a href="#tabs-5">Engagés</a></li>
          <li><a href="#tabs-6">Résultats complets</a></li>
        </ul>
        <div id="tabs-1" style="width:1000px;">
          <%= render :partial => 'teams/info' %>
        </div>
        <div id="tabs-2" style="width:1000px;">
          <%= render :partial => 'race_teams/list' %>
        </div>
        <div id="tabs-3" style="width:1000px;">
          <%= render :partial => 'teams/record' %>
        </div>
        <div id="tabs-4" style="width:1000px;">
          <%= render :partial => 'cyclists/list' %>
        </div>
        <div id="tabs-5" style="width:1000px;">
          <%= render :partial => 'race_runners/list' %>
        </div>
        <div id="tabs-6" style="width:1000px;">
          <%= render :partial => 'ite_stage_results/list' %>
        </div>
      </div>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
