<%= form_for(@race_runner) do |f| %>
    <% if @race_runner.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@race_runner.errors.count, "error") %> prohibited this race_runner from being saved:</h2>

          <ul>
            <% @race_runner.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :cyclist %><br />
      <% c_array =
             Cyclist.order('lastname').all.map { |c| [c.display_fullname, c.id] } %>
      <%= f.select :cyclist_id, c_array, {:include_blank => true} %>
    </div>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
    <div class="field">
      <%= f.label :number %><br />
      <%= f.number_field :number %>
    </div>
    <div class="field">
      <%= f.label :nationality %><br />
      <%= f.text_field :nationality %>
    </div>

    <div class="field">
      <%= f.label :race_team_id %><br />
      <% t_array = RaceTeam.order('label').where(:year => @race_runner.year).all.map { |t| ["#{t.label} (#{t.id})", t.id] } %>
      <%= f.select :race_team_id, t_array, {:include_blank => true} %>
    </div><div class="field">

      <%= f.label :year %><br />
      <%= f.text_field :year %>
    </div>

    <div class="field">
      <%= f.label :race %><br />
      <% race_array = Race.order('year').all.map { |r| [r.year, r.id] } %>
      <%= f.select :race_id, race_array, {:include_blank => true} %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
