<script>
    $(document).ready(function() {
        $('#runners').dataTable( {
            "sDom": "<'wrapper'i>, <fprtfp>",
            "bJQueryUI": true,
            "iDisplayLength": 50,
            "aaSorting": [[1, "asc"]],
            "aoColumns" : [
                {"bSortable": true, "bSearchable": true},
                {"bSortable": true , "bSearchable": true},
                {"bSortable": true, "bSearchable": true},
                {"bSortable": true, "bSearchable": true},
                {"bSortable": true, "bSearchable": true},
            ]
        });
    } );
</script>
<table class="display" id="runners">
<thead>
  <tr>
    <th>Année</th>
    <th>Doss.</th>
    <th>Coureur</th>
    <th>Equipe</th>
    <th>Nat.</th>
  </tr>
</thead>
<tbody>
<% @race_runners.each do |race_runner| %>
  <tr>
    <td><%= link_to race_runner.race.year, race_runner.race %></td>
    <td><%= link_to race_runner.number, race_runner_path(race_runner) %></td>
    <td><%= link_to race_runner.display_fullname, race_runner.cyclist %></td>
    <td><%= link_to race_runner.race_team.label, race_runner.race_team.team %></td>
    <td><%= race_runner.nationality %></td>
  </tr>
<% end %>
</tbody>
</table>
