<script>
    $(document).ready(function() {
        $('#runners').dataTable( {
            "sPaginationType": "full_numbers",
            "iDisplayLength": 50,
            "aoColumns" : [
                {"bSortable": true, "bSearchable": true, "sType": "num-html" },
                {"bSortable": true , "bSearchable": true},
                {"bSortable": true, "bSearchable": false},
                {"bSortable": true, "bSearchable": true},
                {"bSortable": false, "bSearchable": false},
                {"bSortable": false, "bSearchable": false}
            ]
        });
    } );
</script>
<h1>Les inscrits</h1>

<table class="display" id="runners">
<thead>
  <tr>
    <th>Année</th>
    <th>Equipe</th>
    <th>Dossard</th>
    <th>Coureur</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @race_runners.each do |race_runner| %>
  <tr>
    <td><%= link_to race_runner.race.year, race_runner.race %></td>
    <td><%= link_to race_runner.team.name, race_runner.team %></td>
    <td><%= race_runner.number %></td>
    <td><%= link_to race_runner.cyclist.display_name, race_runner.cyclist %></td>
    <td><%= link_to 'Edit', edit_race_runner_path(race_runner) %></td>
    <td><%= link_to 'Destroy', race_runner, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Race runner', new_race_runner_path %>
