<p id="notice"><%= notice %></p>

<p>
  <b>Cycliste:</b>
  <%= link_to @race_runner.cyclist.firstname + " " + @race_runner.cyclist.lastname , cyclist_path(@race_runner.cyclist) %>
</p>
<p>
  <b>Course:</b>
  <%= if (!@race_runner.race.blank?) then link_to @race_runner.race.name, race_path(@race_runner.race) end %>
</p>

<p>
  <b>Dossard:</b>
  <%= @race_runner.number %>
</p>

<p>
  <b>Nationlaité:</b>
  <%= @race_runner.nationality %>
</p>

<p>
  <b>Equipe:</b>
  <%= if (!@race_runner.race.blank?) then link_to @race_runner.race_team.label, team_path(@race_runner.team) end %>
</p>


<%= link_to 'Edit', edit_race_runner_path(@race_runner) %> |
<%= link_to 'Back', race_runners_path %>
