<%= form_for(@ite_stage_result) do |f| %>
  <% if @ite_stage_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ite_stage_result.errors.count, "error") %> prohibited this ite_stage_result from being saved:</h2>

      <ul>
      <% @ite_stage_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>

    <div class="field">
      <%= f.label :stage %><br />
      <% s_array = Stage.order('year', 'ordinal').all.map { |c| [c.stage_name, c.id] } %>
      <%= f.select :stage_id, s_array, {:include_blank => true} %>
    </div>

    <div class="field">
      <%= f.label :race_runner %><br />
      <% if (@ite_stage_result != nil && @ite_stage_result.stage != nil) then c_array = RaceRunner.where(:year => @ite_stage_result.stage.year).order('lastname').all.map { |c| [c.display_fullname, c.id] } else c_array = [] end %>
      <%= f.select :race_runner_id, c_array, {:include_blank => true} %>
    </div>

    <div class="field">
      <%= f.label :race_team %><br/>
      <% if (@ite_stage_result != nil && @ite_stage_result.stage != nil) then
           c_array = RaceTeam.where(:year => @ite_stage_result.stage.year).order('label').all.map {|c| [c.label, c.id]}
         else
           c_array = []
         end %>
      <%= f.select :race_team, c_array, {:include_blank => true} %>
    </div>

    <div class="field">
      <%= f.label :time_sec %><br />
      <%= f.text_field :time_sec %>
    </div>
    <div class="field">
      <%= f.label :diff_time_sec %><br />
      <%= f.text_field :diff_time_sec %>
    </div>

    <div class="field">
      <%= f.label :stage_status %><br />
      <%= f.text_field :stage_status %>
    </div>


    <div class="field">
      <%= f.label :stage_tag %><br />
      <%= f.text_field :stage_tag %>
    </div>

  <div class="field">
    <%= f.label :pos %><br />
    <%= f.number_field :pos %>
  </div>
  <div class="field">
    <%= f.label :dns %><br />
    <%= f.check_box :dns %>
  </div>
  <div class="field">
    <%= f.label :dnf %><br />
    <%= f.check_box :dnf %>
  </div>
  <div class="field">
    <%= f.label :dnq %><br />
    <%= f.check_box :dnq %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
