<script>
    $(document).ready(function() {
        $('#ite_results').dataTable( {
            "sDom": "<'wrapper'i>, <fprtfp>",
            "bJQueryUI": true,
            "iDisplayLength": 50,
            "aaSorting": [[ 0, "desc" ], [1, "desc"]],
            "aoColumns" : [
                {"asSorting": [ "desc", "asc" ], "bSortable": true, "bSearchable": true},
                {"bSortable": true, "bSearchable": false},
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": false},
                {"bSortable": true, "bSearchable": true }
            ]
        });
    } );
</script>
<table class="display" id="ite_results">
  <thead>
  <tr>
    <th>Année</th>
    <th title="Numéro d'étape">Et.</th>
    <th>Départ</th>
    <th>Arrivée</th>
    <th>Type</th>
    <th title="Position du coureur à l'arrivée de l'étape">Pos.</th>
    <th title="Temps réalisé par le coureur">Tps</th>
    <th>Coureur</th>
    <th>Equipe</th>
    <th>Nationalité</th>
    <th title="Porteur de maillots distinctifs durant l'étape">Maillots</th>
    <th title="Divers infomations liés à ce résultat">Misc.</th>
  </tr>
  </thead>
  <tbody>
  <% @ite_stage_results.each do |ite_stage_result| %>
      <tr>
        <td><%= if (ite_stage_result.stage.blank?) then '?' else link_to ite_stage_result.stage.year, race_path(ite_stage_result.stage.race_id) end %></td>
        <td><%= if (ite_stage_result.stage.blank?) then '?' else link_to ite_stage_result.stage.stage_num, ite_stage_result.stage end %></td>
        <td><%= if (ite_stage_result.stage.blank?) then '?' else  ite_stage_result.stage.start end %></td>
        <td><%= if (ite_stage_result.stage.blank?) then '?' else ite_stage_result.stage.finish end %></td>
        <td><%= if (ite_stage_result.stage.blank?) then '?' else  ite_stage_result.stage.stage_type end %></td>
        <td><%= if (ite_stage_result.pos.blank?) then '999' else link_to(ite_stage_result.pos, ite_stage_result) end %></td>
        <td><%= ite_stage_result.display_time %></td>
        <td><%= if (ite_stage_result.race_runner.blank?) then
                  if (ite_stage_result.race_team.blank?) then
                    ite_stage_result.runner_s
                  else
                    link_to ite_stage_result.race_team.label, team_path(ite_stage_result.race_team.team)
                  end
                else link_to ite_stage_result.race_runner.display_name, cyclist_path(ite_stage_result.race_runner.cyclist_id)
                end %></td>
        <td><%= if (!ite_stage_result.race_runner.blank?) then
                    link_to ite_stage_result.race_runner.race_team.label, team_path(ite_stage_result.race_runner.race_team.team)
                elsif (!ite_stage_result.race_team.blank?) then
                    link_to ite_stage_result.race_team.label, team_path(ite_stage_result.race_team.team)
                end %></td>
        <td><%= if (!ite_stage_result.race_runner.blank?) then ite_stage_result.race_runner.nationality end %></td>
        <td><% if (ite_stage_result.stage != nil && ite_stage_result.stage.ig_stage_result != nil) then
                 ig_stage_result = ite_stage_result.stage.ig_stage_result;
                 if (ig_stage_result.previous_leader == ite_stage_result.race_runner) then %><img src="/assets/maillot_jaune_20.png"/><%end%>
              <% if (ig_stage_result.previous_sprinter == ite_stage_result.race_runner) then %><img src="/assets/maillot_vert_20.png"/><%end%>
              <% if (ig_stage_result.previous_climber == ite_stage_result.race_runner) then %><img src="/assets/maillot_pois_20.png"/><%end%>
			        <% if (ig_stage_result.previous_young == ite_stage_result.race_runner) then %><img src="/assets/maillot_blanc_20.png"/><%end end%>
        </td>
        <td><%= ite_stage_result.stage_status %></td>
      </tr>
  <% end %>
  </tbody>
</table>
