<%require 'chronic_duration'%>

<p id="notice"><%= notice %></p>

<p>
  <b>Stage:</b>
  <%= link_to @ite_stage_result.stage.display_label, stage_path(@ite_stage_result.stage) %>
</p>
<p>
  <b>Dossard:</b>
  <%= link_to("" + "("  + @ite_stage_result.race_runner.number.to_s + ") " + @ite_stage_result.race_runner.display_fullname, race_runner_path(@ite_stage_result.race_runner)) %>
</p>
<p>
  <b>Pos:</b>
  <%= @ite_stage_result.pos %>
</p>

<p>
  <b>Time:</b>
  <%= if (@ite_stage_result.time_sec.blank?) then '-' else ChronicDuration.output(@ite_stage_result.time_sec) end %>
</p>

<p>
  <b>Diff time:</b>
  <%= if (@ite_stage_result.diff_time_sec.blank?) then '-' else ChronicDuration.output(@ite_stage_result.diff_time_sec) end %>
</p>
<p>
  <b>Status de course:</b>
  <%= @ite_stage_result.stage_status %>
</p>
<p>
  <b>Evénements:</b>
  <%= @ite_stage_result.stage_tag %>
</p>

<p>
  <b>Dns:</b>
  <%= @ite_stage_result.dns %>
</p>

<p>
  <b>Dnf:</b>
  <%= @ite_stage_result.dnf %>
</p>

<p>
  <b>Dnq:</b>
  <%= @ite_stage_result.dnq %>
</p>


<%= link_to 'Edit', edit_ite_stage_result_path(@ite_stage_result) %> |
<%= link_to 'Back', ite_stage_results_path %>
