<script>
    $(document).ready(function() {
        $('#stages').dataTable( {
            "sDom": "<'wrapper'i>, <fprtfp>",
            "bJQueryUI": true,
            "iDisplayLength": 50,
            "aaSorting": [],
            "aoColumns" : [
                {"bSortable": true, "bSearchable": true , "sType": "num-html"},
                {"bSortable": true, "bSearchable": false , "sType": "num-html"},
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true }
            ]
        });
    } );
</script>
<h1>Les écarts</h1>
<div id="search">
  <%= render :partial => 'stat_stage_diffs/search' %>
</div>
<% if (@stat_stage_diffs != nil) then %>
<table class="display" id="stages">
  <thead>
  <tr>
    <th>Ecart</th>
    <th>Année</th>
    <th>Etape</th>
    <th>Date</th>
    <th>Départ</th>
    <th>Arrivée</th>
    <th>Type</th>
    <th>Vainqueur</th>
  </tr>
  </thead>
  <tbody>
  <% @stat_stage_diffs.each do |stage| %>
      <tr>
        <td><%= if (stage.diff_time != nil && stage.diff_time > 0) then
                  IteStageResult.displayTime(stage.diff_time)
                else
                  '-'
                end %></td>
        <td><%= link_to stage.year, stage.race %></td>
        <td><%= link_to stage.stage_num, stage %></td>
        <td><%= link_to stage.date, stage %></td>
        <td><%= stage.start %></td>
        <td><%= stage.finish %></td>
        <td><%= stage.stage_type %></td>
        <td><%= if (stage.winner == nil) then '?' else link_to stage.winner.display_name, cyclist_path(stage.winner.id) end %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%end%>
<br />

<%= link_to 'New Stage', new_stage_path %>
