<script>
    $(document).ready(function() {
        $('#stages_dnf').dataTable( {
            "sDom": "<'wrapper'i>, <fprtfp>",
            "bJQueryUI": true,
            "iDisplayLength": 10,
            "aaSorting": [],
            "aoColumns" : [
                {"bSortable": true, "bSearchable": false , "sType": "numeric"},
                {"bSortable": true, "bSearchable": false , "sType": "numeric"},
                {"bSortable": true, "bSearchable": true},
                {"bSortable": true, "bSearchable": false},
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true }
             ]
        });
    } );
</script>
<script>
    $(document).ready(function() {
        $('#stages_succ').dataTable( {
            "sDom": "<'wrapper'i>, <fprtfp>",
            "bJQueryUI": true,
            "iDisplayLength": 10,
            "aaSorting": [],
            "aoColumns" : [
                {"bSortable": true, "bSearchable": true},
                {"bSortable": true, "bSearchable": true , "sType": "num_html"},
                {"bSortable": false, "bSearchable": false},
                {"bSortable": false, "bSearchable": true}
            ]
        });
    } );
</script>
<hr>
<h2>Abandons massifs</h2>
<table class="display" id="stages_dnf">
  <thead>
  <tr>
    <th>Abandon (nb)</th>
    <th>Abandon (%)</th>
    <th>Année</th>
    <th>Eta.</th>
    <th>Date</th>
    <th>Départ</th>
    <th>Arrivée</th>
    <th>Type</th>
    <th>Vainqueur</th>
  </tr>
  </thead>
  <tbody>
  <% @stat_misc_dnf.each do |stage| %>
      <tr>
        <td><%= stage.nb %></td>
        <td><%= stage.percent %></td>
        <td><%= link_to stage.year, stage.race %></td>
        <td><%= link_to stage.stage_num, stage %></td>
        <td><%= link_to stage.date, stage %></td>
        <td><%= stage.start %></td>
        <td><%= stage.finish %></td>
        <td><%= stage.stage_type %></td>
        <td><%= if (stage.winner == nil) then '?' else link_to stage.winner.display_name, cyclist_path(stage.winner.id) end %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<hr>
<h2>Victoire consécutives de la même équipe</h2>
<table class="display" id="stages_succ">
  <thead>
  <tr>
    <th>Equipe</th>
    <th>Année</th>
    <th>Etapes</th>
    <th>Coureurs</th>
  </tr>
  </thead>
  <tbody>
  <% @stat_misc_succ_stages.each do |row| %>
      <tr>
        <td><%= link_to row[0].name, team_path(row[0]) %></td>
        <td><%= link_to(row[1].year, race_path(row[1].race)) %></td>
        <td><%= link_to(row[1].stage_num, stage_path(row[1])) + ", " + link_to(row[2].stage_num, stage_path(row[2])) + ", " + link_to(row[3].stage_num, stage_path(row[3]))%></td>
        <td><%=  link_to(row[4].display_fullname, race_runner_path(row[4])) + ", " + link_to(row[5].display_fullname, race_runner_path(row[5])) + ", " + link_to(row[6].display_fullname, race_runner_path(row[6])) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

