<script>
$(document).ready(function() {
 $('#races').dataTable({
     "sDom": "<'wrapper'i>, <fprtfp>",
     "bJQueryUI": true,
     "iDisplayLength": 50,
     "aaSorting": [[ 0, "desc" ]],
     "aoColumns" : [
         {"asSorting": [ "desc", "asc" ], "bSortable": true, "bSearchable": true },
         {"bSortable": true, "bSearchable": false },
         {"bSortable": true, "bSearchable": false },
         {"bSortable": true, "bSearchable": true },
         {"bSortable": true, "bSearchable": true },
         {"bSortable": true, "bSearchable": true },
         {"bSortable": true, "bSearchable": true, "sType": "num-html"},
         {"bSortable": false, "bSearchable": false },
         {"bSortable": false, "bSearchable": false }
     ]
 });
} );
</script>
<h1>Les tours de France</h1>
<table class="display" id="races">
  <thead>
  <tr>
    <th>Année</th>
    <th>Distance</th>
    <th>Vitesse</th>
    <th>Maillot Jaune</th>
    <th>Maillot à pois</th>
    <th>Maillot vert</th>
    <th>Partants</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<tbody>
<% @races.each do |race| %>
  <tr>
    <td><%= race.year %></td>
    <td><%= race.distance %></td>
    <td><%= race.averageSpeed %></td>
    <td><%= if (race.leader != nil) then link_to race.leader.display_name, cyclist_path(race.leader) end  %></td>
    <td><%= if (race.climber != nil) then link_to race.climber.display_name, cyclist_path(race.climber) end  %></td>
    <td><%= if (race.sprinter != nil) then link_to race.sprinter.display_name, cyclist_path(race.sprinter) end  %></td>
    <td><%= if (true) then link_to race.race_runners.count, cyclists_path(:year => race.year) else 0 end %></td>
    <td><%= link_to 'Voir', race %></td>
    <td><%= link_to 'Editer', edit_race_path(race) %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Race', new_race_path %>
