<p id="notice"><%= notice %></p>
<div><h2><%= "Tour de France édition " + @race.year%></h2></div>
<table>
  <tr>
    <td>
      <div id="tabs" width="100%">
        <ul>
          <li><a href="#tabs-1">Infos</a></li>
          <li><a href="#tabs-2">Etapes</a></li>
          <li><a href="#tabs-3">Partants</a></li>
          <li><a href="#tabs-4">Palmarès</a></li>
          <li><a href="#tabs-5">Classement Général</a></li>
        </ul>
        <div id="tabs-1" style="width:900px;">
          <%= render :partial => 'races/show_infos' %>
        </div>
        <div id="tabs-2" style="width:900px;">
          <%= render :partial => 'stages/list' %>
        </div>
        <div id="tabs-3" style="width:900px;">
          <%= render :partial => 'races/show_attendee' %>
        </div>
        <div id="tabs-4" style="width:900px">
          <%= render :partial => 'races/show_results' %>
        </div>
        <div id="tabs-5" style="width:900px">
          <%= render :partial => 'races/show_yj' %>
        </div>
      </div>
</td>
    </tr>
  </table>
<%= link_to 'Edit Infos', edit_race_path(@race) %> |

<%= if (@race.ig_stage_result != nil) then
      link_to 'Edit Results', edit_ig_race_result_path(@race.ig_race_result)
    else
      link_to 'Edit Results', new_ig_race_result_path(:ig_race_result => {:race_id => @race.id, :year => @race.year})
    end %> |

<%= if (@race.ig_race_result != nil) then
      link_to 'Edit Results', edit_ig_race_result_path(@race.ig_race_result)
    end %> |
<%= link_to 'Back', races_path %>
