<p id="notice"><%= notice %></p>
<div><h2><%= "Tour de France édition " + @race.year%></h2></div>
<table>
  <tr>
    <td>
      <div id="tabs" width="100%">
        <ul>
          <li><a href="#tabs-1">Infos</a></li>
          <li><a href="#tabs-2">Partants</a></li>
          <li><a href="#tabs-3">Résultats</a></li>
        </ul>
        <div id="tabs-1" style="width:700px;">
          <%= render :partial => 'races/show_infos' %>
        </div>
        <div id="tabs-2" style="width:700px;">
          <%= render :partial => 'races/show_attendee' %>
        </div>
        <div id="tabs-3" style="width:700px">
          <%= render :partial => 'races/show_results' %>
        </div>
      </div>
</td>
    </tr>
  </table>
<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
