<h1>Listing ig_race_results</h1>

<table>
  <tr>
    <th>Année</th>
    <th>Vainqueur</th>
    <th>Meilleur Grimpeur</th>
    <th>Meilleur Sprinter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ig_race_results.each do |ig_race_result| %>
  <tr>
    <td><%= ig_race_result.year %></td>
    <td><%= if (ig_race_result.leader != nil) then link_to ig_race_result.leader.cyclist.display_name, ig_race_result.leader.cyclist end %></td>
    <td><%= if (ig_race_result.climber != nil) then link_to ig_race_result.climber.cyclist.display_name, ig_race_result.climber.cyclist end %></td>
    <td><%= if (ig_race_result.sprinter != nil) then link_to ig_race_result.sprinter.cyclist.display_name, ig_race_result.sprinter.cyclist end %></td>
    <td><%= if (ig_race_result.young != nil) then link_to ig_race_result.young.cyclist.display_name, ig_race_result.young.cyclist end %></td>
    <td><%= link_to 'Show', ig_race_result %></td>
    <td><%= link_to 'Edit', edit_ig_race_result_path(ig_race_result) %></td>
    <td><%= link_to 'Destroy', ig_race_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ig race result', new_ig_race_result_path %>
