<table>
  <% @mountains.each do |mountain| %>
      <tr>
        <td><%= link_to mountain.order, mountain_stage_result_path(mountain) %></td>
        <td><%= mountain.altitude %>m</td>
        <td><%= link_to(mountain.name, mountain_stage_result_path(mountain)) %></td>
        <td>(cat. <%= mountain.category_s %>)</td>
        <td><%= if (mountain.race_runner != nil) then
                  render partial: "race_runners/display", locals: {:race_runner => mountain.race_runner, :stage => mountain.stage}
                else
                  "?"
                end %></td>
      </tr>
  <% end %>
</table>