<table>
  <tr>
    <td>
      <table border=0>
        <tr>
          <td><b>Vainqueur d'étape :</b>&nbsp;</td>
          <td>
            <%= if (@stage.winner != nil) then
                 render partial: "race_runners/display", locals: {:race_runner => @stage.winner, :stage => @stage}
               else
                 if (@stage.team_winner != nil) then
                   link_to @stage.team_winner.team.name, team_path(@stage.team_winner.team)
                 elsif (@stage.ig_stage_result != nil) then
                   @stage.ig_stage_result.stage_winner_s
                 else
                   "?"
                 end
               end %>
        </tr>
        <tr>
          <td><b>Date:</b></td>
          <td><%= @stage.date %></td>
        </tr>
        <tr>
          <td><b>Type:</b></td>
          <td><%= @stage.stage_type %></td>
        </tr>
        <tr>
          <td><b>Distance:</b></td>
          <td><%= @stage.distance %></td>
        </tr>
      </table>
    </td>
    <td>
      <table cellspacing=5>
        <tr>
          <td>
            <table>

              <tr>
              <tr>
                <td align=center><img src="/assets/maillot_jaune_40.png"/></td>
                <td>
                  <strike><%= if (@stage.ig_stage_result != nil && @stage.ig_stage_result.previous_leader != nil && @stage.ig_stage_result.previous_leader != @stage.ig_stage_result.leader) then
                                link_to @stage.ig_stage_result.previous_leader.display_fullname, cyclist_path(@stage.ig_stage_result.previous_leader)
                              end %></strike><br>
                  <%= if (@stage.ig_stage_result != nil && @stage.ig_stage_result.leader != nil) then
                        link_to @stage.ig_stage_result.leader.display_fullname, cyclist_path(@stage.ig_stage_result.leader.cyclist)
                      end %>
                </td>
              </tr>
              <tr>
                <td align=center><img src="/assets/maillot_vert_40.png"/></td>
                <td>
                  <strike><%= if (@stage.ig_stage_result != nil && @stage.ig_stage_result.previous_sprinter != nil && @stage.ig_stage_result.previous_sprinter != @stage.ig_stage_result.sprinter) then
                                link_to @stage.ig_stage_result.previous_sprinter.display_fullname, cyclist_path(@stage.ig_stage_result.previous_sprinter)
                              end %></strike><br>
                  <%= if (@stage.ig_stage_result != nil && @stage.ig_stage_result.sprinter != nil) then
                        link_to @stage.ig_stage_result.sprinter.display_fullname, cyclist_path(@stage.ig_stage_result.sprinter.cyclist)
                      end %>
                </td>
              </tr>
              <tr>
                <td align=center><img src="/assets/maillot_pois_40.png"/></td>
                <td>
                  <strike><%= if (@stage.ig_stage_result != nil && @stage.ig_stage_result.previous_climber != nil && @stage.ig_stage_result.previous_climber != @stage.ig_stage_result.climber) then
                                link_to @stage.ig_stage_result.previous_climber.display_fullname, cyclist_path(@stage.ig_stage_result.previous_climber.cyclist)
                              end %></strike><br>
                  <%= if (@stage.ig_stage_result != nil && @stage.ig_stage_result.climber != nil) then
                        link_to @stage.ig_stage_result.climber.display_fullname, cyclist_path(@stage.ig_stage_result.climber.cyclist)
                      end %>
                </td>
              </tr>
              <tr>
                <td align=center><img src="/assets/maillot_blanc_40.png"/></td>
                <td>
                  <strike><%= if (@stage.ig_stage_result != nil && @stage.ig_stage_result.previous_young != nil && @stage.ig_stage_result.previous_young != @stage.ig_stage_result.young) then
                                link_to @stage.ig_stage_result.previous_young.display_fullname, cyclist_path(@stage.ig_stage_result.previous_young.cyclist)
                              end %></strike><br>
                  <%= if (@stage.ig_stage_result != nil && @stage.ig_stage_result.young != nil) then
                        link_to @stage.ig_stage_result.young.display_fullname, cyclist_path(@stage.ig_stage_result.young.cyclist)
                      end %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table>
  <%= if @dns != nil && @dns.size > 0 then
        ('<tr><td><b>Non-partant: </b></td><td>' + @dns.map {|ite|
          if (ite.race_runner != nil) then
            link_to ite.race_runner.display_fullname, cyclist_path(ite.race_runner.cyclist)
          end}.join(", ") + '</td></tr>').html_safe
      end %>
  <%= if @dnf != nil && @dnf.size > 0 then
        ('<tr><td><b>Abandon: </b></td><td>' + @dnf.map {|ite|
          if (ite.race_runner != nil) then
            link_to ite.race_runner.display_fullname, cyclist_path(ite.race_runner.cyclist)
          end}.join(", ") + '</td></tr>').html_safe
      end %>

  <%= if @dnq != nil && @dnq.size > 0 then
        ('<tr><td><b>Disqualifié: </b></td><td>' + @dnq.map {|ite|
          if (ite.race_runner != nil) then
            link_to ite.race_runner.display_fullname, cyclist_path(ite.race_runner.cyclist)
          end}.join(", ") + '</td></tr>').html_safe
      end %>
  <%= if @stage.info != nil then
        ('<tr><td><b>Remarques: </b></td><td>' + @stage.info.gsub(" : ", "<br>").gsub(" - ", "<br>").gsub("\n", "") + '</td></tr>').html_safe
      end %>
</table>
