<p id="notice"><%= notice %></p>
<script>
    $(document).ready(function() {
        $('#stages_results').dataTable( {
            "sDom": "<'wrapper'i>, <fprtfp>",
            "bJQueryUI": true,
            "iDisplayLength": 50,
            "aaSorting": [[ 0, "asc" ]],
            "aoColumns" : [
                {"asSorting": [ "desc", "asc" ], "bSortable": true, "bSearchable": true , "sType": "num-html"},
                {"bSortable": true, "bSearchable": false , "sType": "num-html"},
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true , "sType": "num-html"},
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true },
                {"bSortable": true, "bSearchable": true }
            ]
        });
    } );
</script>
<table border=0>
<tr>
  <td>
  <%= if (@previous_stage != nil) then link_to "<préc.", stage_url(@previous_stage) end %>&nbsp;<%= if (@next_stage != nil) then link_to "suiv.>", stage_url(@next_stage) end %>
  <div>
  <h2><%= @stage.display_label %></h2>

    <table border=0>
<tr><td>
  <b>Date:</b></td><td><%= @stage.date %>
</td></tr>

<tr><td>
  <b>Start:</b>
</td><td>
  <%= @stage.start %>
</td></tr>

<tr><td>
  <b>Finish:</b>
</td><td>
  <%= @stage.finish %>
</td></tr>

<tr><td>
  <b>Stagenb:</b>
</td><td>
  <%= @stage.stageNb %>
</td></tr>

<tr><td>
  <b>Substagenb:</b>
</td><td>
  <%= @stage.subStageNb %>
</td></tr>

<tr><td>
  <b>Stage type:</b>
</td><td>
  <%= @stage.stage_type %>
</td></tr>

<tr><td>
  <b>Edition:</b>
</td><td>
  <%= link_to @stage.year, race_path(@stage.race) %>
</td></tr>

<tr><td>
  <b>Runners cnt:</b>
</td><td>
  <%= @stage.runners_cnt %>
</td></tr>

<tr><td>
  <b>Finisher cnt:</b>
</td><td>
  <%= @stage.finishers_cnt %>
</td></tr>

<tr><td>
  <b>Distance:</b>
</td><td>
  <%= @stage.distance %>
</td></tr>

<tr><td>
  <b>Label:</b>
</td><td>
  <%= @stage.label %>
</td></tr>
</table>
  </div>
  </td><td>
  <table cellspacing=5>
    <tr>
      <td>
        <table>
        <tr>
          <td><b>Vainqueur</b>&nbsp;</td>
          <td><%= if (@stage.ig_stage_result.stage_winner != nil) then link_to @stage.ig_stage_result.stage_winner.display_fullname, cyclist_path(@stage.ig_stage_result.stage_winner) end %></td>
        </tr><tr>
        <tr>
        <td align=center><img src="/assets/maillot_jaune_40.png"/></td>
        <td>
          <strike><%= if (@stage.ig_stage_result.previous_leader != nil && @stage.ig_stage_result.previous_leader != @stage.ig_stage_result.leader) then link_to @stage.ig_stage_result.previous_leader.display_fullname, cyclist_path(@stage.ig_stage_result.previous_leader) end %></strike><br>
            <%= if (@stage.ig_stage_result.leader != nil) then link_to @stage.ig_stage_result.leader.display_fullname, cyclist_path(@stage.ig_stage_result.leader) end %>
        </td>
        </tr><tr>
        <td align=center><img src="/assets/maillot_vert_40.png"/></td>
        <td>
          <strike><%= if (@stage.ig_stage_result.previous_sprinter != nil && @stage.ig_stage_result.previous_sprinter != @stage.ig_stage_result.sprinter) then link_to @stage.ig_stage_result.previous_sprinter.display_fullname, cyclist_path(@stage.ig_stage_result.previous_sprinter) end %></strike><br>
          <%= if (@stage.ig_stage_result.sprinter != nil) then link_to @stage.ig_stage_result.sprinter.display_fullname, cyclist_path(@stage.ig_stage_result.sprinter) end %>
        </td>
        </tr><tr>
        <td align=center><img src="/assets/maillot_pois_40.png"/></td>
        <td>
          <strike><%= if (@stage.ig_stage_result.previous_climber != nil && @stage.ig_stage_result.previous_climber != @stage.ig_stage_result.climber) then link_to @stage.ig_stage_result.previous_climber.display_fullname, cyclist_path(@stage.ig_stage_result.previous_climber) end %></strike><br>
          <%= if (@stage.ig_stage_result.climber != nil) then link_to @stage.ig_stage_result.climber.display_fullname, cyclist_path(@stage.ig_stage_result.climber) end %>
        </td>
      </tr>
      <tr>
        <td></td><td></td>
      </tr>
      </table>


      </td>
    </tr>
  </table>
</td>
</tr>
</table>
<h2>Classement d'étapes</h2>

<table class="display" id="stages_results">
  <thead>
  <tr>
    <th>Pos.</th>
    <th>Temps</th>
    <th>Ecart</th>
    <th title="numéro de dossard du coureur">Doss.</th>
    <th title="Porteur des différents maillots distinctifs durant l'étape">Maillots</th>
    <th>Coureur</th>
    <th>Equipe</th>
    <th>Nat.</th>
  </tr>
  </thead>
  <tbody>
  <%  @ite_stage_results_h.each do |result| %>
      <% time_res = nil
         time_diff = "-"
         if (result.time_sec != nil && result.time_sec > 0) then
           time_res = ChronicDuration.output(result.time_sec)
         end
         if (result.diff_time_sec != nil && result.diff_time_sec > 0) then
           time_diff = ChronicDuration.output(result.diff_time_sec)
         end

      %>
      <tr>
        <td><%= link_to(if (result.pos.blank?) then '999' else result.pos.to_s end, ite_stage_result_path(result)) %></td>
        <td><%= if (time_res.blank?) then result.stage_status else time_res end%></td>
        <td><%= time_diff %></td>
        <td><%= link_to result.race_runner.number.to_s, race_runner_path(result.race_runner) %></td>
        <td><% if (@stage.ig_stage_result.previous_leader == result.race_runner) then %> <img src="/assets/maillot_jaune_20.png"/> <%end%><% if (@stage.ig_stage_result.previous_sprinter == result.race_runner) then %> <img src="/assets/maillot_vert_20.png"/> <%end%><% if (@stage.ig_stage_result.previous_climber == result.race_runner) then %> <img src="/assets/maillot_pois_20.png"/> <%end%></td>
        <td><%= link_to result.race_runner.display_fullname, cyclist_path(result.race_runner.cyclist) %></td>
        <td><%= link_to result.race_runner.team.name, team_path(result.race_runner.team) %></td>
        <td><%= result.race_runner.nationality%></td>

      </tr>
  <% end %>
  </tbody>
</table>
  </div>



<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
