<p id="notice"><%= notice %></p>
<h1><b><%= link_to "Edition " + @stage.year, race_path(@stage.race) %></b></h1>
&nbsp;
<table border=0 width="800">
  <tr>
    <td align="left"><%= if (@previous_stage != nil) then
                           link_to "<préc.", stage_url(@previous_stage)
                         end %></td>
    <td align="right">
      <%= if (@next_stage != nil) then
            link_to "suiv.>", stage_url(@next_stage)
          end %>
    </td>
  </tr>
  <tr>
    <td><h2><b>Etape <%= @stage.stage_num %></b></h2></td>
    <td>
      <h2><%= @stage.display_label %></h2>
    </td>
  </tr>
</table>

<div id="tabs" width="100%">
  <ul>
    <li><a href="#tabs-0">Informations</a></li>
    <li><a href="#tabs-1">Classement d'étapes</a></li>
    <li><a href="#tabs-2">Classement Général</a></li>
    <li><a href="#tabs-3">Passage de Cols</a></li>
    <li><a href="#tabs-4">Parcours</a></li>
  </ul>
  <div id="tabs-0" style="width:700px;">
    <%= render :partial => 'stages/show_infos' %>
  </div>
  <div id="tabs-1" style="width:700px;">
    <%= render :partial => 'stages/show_ite' %>
  </div>
  <div id="tabs-2" style="width:700px;">
    <%= render :partial => 'stages/show_yj' %>
  </div>
  <div id="tabs-3" style="width:700px">
    <%= render :partial => 'stages/show_mountain' %>
  </div>
  <div id="tabs-4" style="width:700px">
    <%= render :partial => 'stages/show_route' %>
  </div>
</div>




<%= link_to 'Edit infos', edit_stage_path(@stage) %> |
<%= if (@stage.ig_stage_result != nil) then
      link_to 'Edit resultats', edit_ig_stage_result_path(@stage.ig_stage_result)
    end %> |
<%= link_to 'Back', stages_path %>
