<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @stage.date %>
</p>

<p>
  <b>Start:</b>
  <%= @stage.start %>
</p>

<p>
  <b>Finish:</b>
  <%= @stage.finish %>
</p>

<p>
  <b>Stagenb:</b>
  <%= @stage.stageNb %>
</p>

<p>
  <b>Substagenb:</b>
  <%= @stage.subStageNb %>
</p>

<p>
  <b>Stage type:</b>
  <%= @stage.stage_type %>
</p>

<p>
  <b>Year:</b>
  <%= @stage.year %>
</p>

<p>
  <b>Runners cnt:</b>
  <%= @stage.runners_cnt %>
</p>

<p>
  <b>Finisher cnt:</b>
  <%= @stage.finishers_cnt %>
</p>

<p>
  <b>Distance:</b>
  <%= @stage.distance %>
</p>

<p>
  <b>Label:</b>
  <%= @stage.label %>
</p>

<b>Classement d'étapes</b>
<ul>
  <%  @ite_stage_results_h.each do |result| %>
      <% td = "NaN"
         if (result.time_sec != nil && result.time_sec > 0) then
         td = ChronicDuration.output(result.time_sec)
         end
      %>
      <li><%= result.pos.to_s + ". " + td + " => " + result.race_runner.number.to_s + " "%><%= link_to result.race_runner.cyclist.firstname + " " + result.race_runner.cyclist.lastname, cyclist_path(result.race_runner.cyclist) %></li>
  <% end  %>
</ul>


<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
