<%= form_for(stage_location) do |f| %>
    <% if stage_location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(stage_location.errors.count, "error") %> prohibited this stage_location from being
            saved:</h2>

          <ul>
            <% stage_location.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :department %><br/>
      <%= f.text_field :department %>
    </div>

    <div class="field">
      <%= f.label :country %><br/>
      <%= f.text_field :country %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
