<p id="notice"><%= notice %></p>

<h1>Stage Locations</h1>

<%= link_to 'New Stage Location', new_stage_location_path %>
<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @stage_locations.each do |stage_location| %>
      <tr>
        <td><%= "#{stage_location.name}" %></td>
        <td><%= link_to 'Edit', edit_stage_location_path(stage_location) %></td>
        <td><%= link_to 'Destroy', stage_location, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>



