<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
<p>
  <%= @cyclist.firstname %> <b><%= @cyclist.lastname %></b>
</p>
<p>
  <b>Date de naissance:</b>
  <%= @cyclist.dob %>
</p>
<p>
  <b>Lieu de naissance:</b>
  <%= @cyclist.pob %>
</p>

<p>
  <b>Nationalité:</b>
  <%= @cyclist.nationality %>
</p>
<p>
  <b>Tag:</b>
  <%= @cyclist.tag %>
</p>
<p>
  <b>Description:</b>
  <%= @cyclist.description %>
</p>
