<div class=<%= @race_runners.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#"><b>Participations: </b>
    (<%= @race_runners.size() %>)
  </a></h3>
  <div>
    <table>

        <% @race_runners.each do |run| %>
          <tr>
            <td><%= if (!run.race.blank?) then link_to run.race.year, race_path(run.race) end %></td>
            <td><%= if (!run.number.blank?) then
                      link_to 'dossard ' + run.number.to_s, race_runner_path(run)
                    end %>
            </td>
            <td><%= render partial: "race_runners/display_jersey", locals: { race_runner: run, race: run.race }%></td>
           <td><%= if (!run.team.blank?) then
                      link_to run.race_team.label, run.team
                    end %> (<%= run.nationality %>)

           </td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
<div class=<%= @r_victories.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#"><b>Vainqueur du classement général: </b>
    (<%= @r_victories.size() %>)
  </a></h3>
  <div>
    <ul>
      <% @r_victories.each do |r| %>
        <li><%= link_to r.race.name, race_path(r.race) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class=<%= @r_victories.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#"><b>Podium du classement général:</b>
    (<%= @r_podium.size() %>)
  </a></h3>
  <div>
    <ul>
      <% @r_podium.each do |r| %>
        <%= link_to r.stage.race.display_name, race_path(r.stage.race) %> -
        <i><%= link_to r.race_runner.display_name, cyclist_path(r.race_runner.cyclist) %></i> - <%= r.pos %>
        <br>
      <% end %>
    </ul>
  </div>
</div>



<div class=<%= @rs_victories.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#">
    <b>Vainqueur du classement à points: </b>
    (<%= @rs_victories.size() %>)
  </a></h3>
  <div>
    <ul>
      <% @rs_victories.each do |r| %>
        <li><%= link_to r.race.name, race_path(r.race) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class=<%= @rc_victories.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#">

    <b>Vainqueur du classement de la montagne: </b>
    (<%= @rc_victories.size() %>)
  </a></h3>
  <div>
    <ul>
      <% @rc_victories.each do |r| %>
        <li><%= link_to r.race.name, race_path(r.race) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class=<%= @ry_victories.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#">
    <b>Vainqueur du classement des jeunes: </b>
    (<%= @ry_victories.size() %>)
  </a></h3>
  <div>
    <ul>
      <% @ry_victories.each do |r| %>
        <li><%= link_to r.race.name, race_path(r.race) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class=<%= @s_victories.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#"><b>Victoire d'étapes: </b>
    (<%= @s_victories.size() %>)
  </a></h3>
  <div>
    <ul>
      <% @s_victories.each do |ig_stage_result| %>
        <li><%= link_to ig_stage_result.stage.display_label, stage_path(ig_stage_result.stage) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class=<%= @y_jersey.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#">
    <b>Leader du classement général: </b>
    (<%= @y_jersey.size() %>)
  </a></h3>
  <div>
    <ul>
      <% @y_jersey.each do |r| %>
        <li><%= link_to r.stage.display_label, stage_path(r.stage) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class=<%= @s_jersey.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#">
    <b>Leader du classement à points: </b>
    (<%= @s_jersey.size() %>)
  </a></h3>
  <div>
    <ul>
      <% @s_jersey.each do |r| %>
        <li><%= link_to r.stage.display_label, stage_path(r.stage) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class=<%= @c_jersey.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#">
    <b>Leader du classement de la montagne: </b>
    (<%= @c_jersey.size() %>)
  </a></h3>
  <div>
    <ul>
      <% @c_jersey.each do |r| %>
        <li><%= link_to r.stage.display_label, stage_path(r.stage) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class=<%= @yg_jersey.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#">
    <b>Leader du classement des jeunes: </b>
    (<%= @yg_jersey.size() %>)</a>
  </h3>
  <div>
    <ul>
      <% @yg_jersey.each do |r| %>
        <li><%= link_to r.stage.display_label, stage_path(r.stage) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class=<%= @other_races.size() > 0 ? "accordionOpen" : "accordionClosed" %>>
  <h3><a href="#">
    <b>Vainqueur d'autres épreuves marquantes: </b>
    (<%= @other_races.size() %>)</a>
  </h3>
  <div>
    <ul>
      <% @other_races.each do |r| %>
        <li><%= link_to r.race_display, other_race_path(r) %></li>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">
    $(".accordionOpen").accordion({collapsible: true});
</script>
<script type="text/javascript">
    $(".accordionClosed").accordion({collapsible: true, active: false});
</script>

