<b>Participations:</b>

<ul>
  <%  @runs.each do |run| %>
    <li><%= if (!run.race.blank?) then link_to run.race.year, race_path(run.race) end %>:   <%= if(!run.number.blank?) then link_to 'dossard ' + run.number.to_s, race_runner_path(run) end %>, <%= if (!run.team.blank?) then link_to run.race_team.label, run.team end %> (<%= run.nationality %>) </li>
  <% end  %>
</ul>
<b>Remporte le Tour de France</b>
<ul>
  <%  @r_victories.each do |r| %>
      <li><%= link_to r.race.name , race_path(r.race) %></li>
  <% end  %>
</ul>
<b>Remporte le maillot vert:</b>
<ul>
  <%  @rs_victories.each do |r| %>
      <li><%= link_to r.race.name, race_path(r.race) %></li>
  <% end  %>
</ul>
<b>Remporte le maillot à pois:</b>
<ul>
  <%  @rc_victories.each do |r| %>
      <li><%= link_to r.race.name , race_path(r.race) %></li>
  <% end  %>
</ul>
<b>Remporte le maillot blanc</b>
<ul>
  <%  @ry_victories.each do |r| %>
      <li><%= link_to r.race.name , race_path(r.race) %></li>
  <% end  %>
</ul>
<b>Porteur maillot jaune </b>(<%= @y_jersey.size() %>)
<ul>
  <%  @y_jersey.each do |r| %>
      <li><%= link_to r.stage.display_label, stage_path(r.stage) %></li>
  <% end  %>
</ul>
<b>Porteur maillot vert </b>(<%= @s_jersey.size() %>)
<ul>
  <%  @s_jersey.each do |r| %>
      <li><%= link_to r.stage.display_label, stage_path(r.stage) %></li>
  <% end  %>
</ul>

<b>Porteur maillot à pois </b>(<%= @c_jersey.size() %>)
<ul>
  <%  @c_jersey.each do |r| %>
      <li><%= link_to r.stage.display_label, stage_path(r.stage) %></li>
  <% end  %>
</ul>

<b>Victoire d'étapes: </b> (<%= @s_victories.size() %>)
<ul>
  <%  @s_victories.each do |ig_stage_result| %>
      <li><%= link_to ig_stage_result.stage.display_label , stage_path(ig_stage_result.stage) %></li>
  <% end  %>
</ul>
