<script>
    $(document).ready(function() {
        $('#cyclists').dataTable( {
            "sPaginationType": "full_numbers",
            "iDisplayLength": 50
        });
    } );
</script>
<h1>Coureurs</h1>
<div id="search">
  <%= render :partial => 'cyclists/search' %>
</div>
<table class="display" id="cyclists">
  <thead>
  <tr>
    <th>Name</th>
    <th>Dob</th>
    <th>Pob</th>
    <th>Nationality</th>
    <th>Tag</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @cyclists.each do |cyclist| %>
  <tr>
    <td><%= link_to cyclist.display_name, cyclist %></td>
    <td><%= cyclist.dob %></td>
    <td><%= cyclist.pob %></td>
    <td><%= cyclist.nationality %></td>
    <td><%= cyclist.tag %></td>
    <td><%= link_to 'Edit', edit_cyclist_path(cyclist) %></td>
    <td><%= link_to 'Destroy', cyclist, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br/>
<p>
<%= link_to '+', new_cyclist_path %>
</p>