<%= @cyclist.firstname %> <b><%= @cyclist.lastname %></b>
<table  width="1000">
  <tr width="100%">
    <td width="100%">
      <div id="tabs" width="100%">
        <ul>
          <li><a href="#tabs-1">Infos</a></li>
          <li><a href="#tabs-2">Palmarès</a></li>
          <li><a href="#tabs-3">Résultats d'étapes</a></li>
        </ul>
        <div id="tabs-1" style="width:1000px;">
          <%= render :partial => 'cyclists/info' %>
        </div>
        <div id="tabs-2" style="width:1000px;">
          <%= render :partial => 'cyclists/record' %>
        </div>
        <div id="tabs-3" style="width:1000px">
          <%= render :partial => 'cyclists/result' %>
        </div>
      </div>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_cyclist_path(@cyclist) %> |
<%= link_to 'Back', cyclists_path %>
