<script>
    $(document).ready(function() {
        $('#cyclist_stage_result').dataTable();
    } );
</script>

<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<p>
  <%= @cyclist.firstname %> <b><%= @cyclist.lastname %></b>
</p>

<p>
  <b>Date de naissance:</b>
  <%= @cyclist.dob %>
</p>
<p>
  <b>Lieu de naissance:</b>
  <%= @cyclist.pob %>
</p>

<p>
  <b>Nationalité:</b>
  <%= @cyclist.nationality %>
</p>
<p>
  <b>Tag:</b>
  <%= @cyclist.tag %>
</p>
<p>
  <b>Description:</b>
  <%= @cyclist.description %>
</p>
<p>
<b>Participations:</b>

<ul>
  <%  @runs.each do |run| %>
    <li><%= link_to run.race.year, race_path(run.race) %>: dossard <%= run.number %>, <%= run.team %> (<%= run.nationality %>)</li>
  <% end  %>
</ul>
</p>

<p>

<b>Victoires:</b>
<ul>
  <%  @r_victories.each do |race| %>
      <li><%= link_to race.name + ' (' + race.winnerPrize + ')', race_path(race) %></li>
  <% end  %>
</ul>

</p>
<b>Victoire d'étapes:</b>
<ul>
  <%  @s_victories.each do |ite_stage_result| %>
      <li><%= link_to ite_stage_result.stage.display_label , ite_stage_result_path(ite_stage_result) %></li>
  <% end  %>
</ul>
</p>
<p>
  <b>Résultats complets:</b>
<ul>

  <table class="display" id="cyclist_stage_result">
    <thead>
    <tr>
      <th>Etape</th>
      <th>Type</th>
      <th>Départ</th>
      <th>Arrivée</th>
      <th>Pos</th>
      <th>Temps</th>
      <th>Général</th>
      <th>Cumulé</th>
      <th>Rem</th>
    </tr>
    </thead>

    <tbody>
    <%  @cyclist.ite_stage_results.each do |ite_stage_result| %>
        <tr>
          <td><%= link_to ite_stage_result.stage.stage_name, ite_stage_result_path(ite_stage_result) %></td>
          <td><%= ite_stage_result.stage.stage_type %></td>
          <td><%= ite_stage_result.stage.start %></td>
          <td><%= ite_stage_result.stage.finish %></td>
          <td><%= ite_stage_result.pos.to_s %></td>
          <td><%= ite_stage_result.display_time %></td>
          <td><%= " " %></td>
          <td><%= " " %></td>
          <td><%= ite_stage_result.display_tag %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</ul>

<%= link_to 'Edit', edit_cyclist_path(@cyclist) %> |
<%= link_to 'Back', cyclists_path %>
