<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>TourDeFrance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" type="text/css" />
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

</head>
<body>
<% c_year = 2012 %>
<table cellpadding="10" cellspacing="0" id="main_table">
<tr><td id="header" colspan=2 bgcolor="#33AA33">
  <h2>Les carnets du Tour</h2>
  &nbsp;<i>Tout les résultats, toutes les infos...</i>
</td>
</tr>
<tr>
<td bgcolor="#C0C0E0" align="left" valign="top" id="menu" width="115">
  <b>Menu</b>
  <h1>&nbsp;</h1>
  <ul>
    <li><%= link_to "éditions", races_url%></li>
    <li><%= link_to 'coureurs', cyclists_path(:year => c_year)%></li>
    <li><%= link_to 'équipes', teams_path(:year => c_year)%></li>
    <li><%= link_to 'étapes', stages_path(:year => c_year)%></li>
    <li><%= link_to 'cols', mountain_stage_results_path(:year => c_year)%></li>
    <li><%= link_to 'stats', "none"%></li>
  </ul>
</td>
<td id="content"><%= yield %></td>
</tr>
<tr>
<td id="footer" colspan=2>
  <center><small><i>Cypale© 2013</i></small></center>
</td>
</tr>

</table>


</body>
</html>
