<!DOCTYPE html>
<html>
<head>
  <title>TourDeFrance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<table cellpadding="10" id="main_table">
<tr><td id="header" colspan=2>
  <img src="/assets/logo.png">
</td>
</tr>
<tr>
<td bgcolor="#BBBBEE" align="left" valign="top" id="menu" width="180">
  <b>Menu</b>
  <h1>&nbsp;</h1>
  <ul>
    <li><%= link_to "les tours de France", races_url%></li>
    <li><%= link_to 'les coureurs', cyclists_url%></li>
    <li><%= link_to 'les étapes', stages_url%></li>
    <li><%= link_to 'les statistiques', "none"%></li>
  </ul>
</td>
<td id="content"><%= yield %></td>
</tr>
<tr>
<td id="footer" colspan=2>
  <center><small><i>Sport Archiva© 2012</i></small></center>
</td>
</tr>

</table>


</body>
</html>
